PORT=4001
NODE_ENV=development
APP_VERSION=1.0.0
LOG_LEVEL=info

CORS_ENABLED=true
CORS_ORIGINS=http://localhost:3000,http://localhost:8081

THROTTLE_GLOBAL_LIMIT=100
THROTTLE_GLOBAL_TTL=60000

DOCS_AUTH_USER=private
DOCS_AUTH_PASSWORD=folder

# Sentry
SENTRY_DSN=
SENTRY_ENABLED=false
SENTRY_TRACES_SAMPLE_RATE=0.1
SENTRY_RELEASE=
SENTRY_ENABLE_LOGS=false
SENTRY_PROFILE_LIFECYCLE=trace
SENTRY_SEND_DEFAULT_PII=false
