# API URL
EXPO_PUBLIC_API_URL=http://localhost:4000

# i18n static server URL
EXPO_PUBLIC_I18N_URL=http://localhost:4001

# App ID (bundle identifier / package name)
EXPO_PUBLIC_APP_ID=com.finiq.app

# Sentry
EXPO_PUBLIC_SENTRY_DSN=
EXPO_PUBLIC_SENTRY_ENABLED=false
EXPO_PUBLIC_APP_ENV=development
EXPO_PUBLIC_SENTRY_RELEASE=
EXPO_PUBLIC_SENTRY_TRACES_SAMPLE_RATE=0.1
SENTRY_ENABLE_LOGS=false
SENTRY_PROFILE_LIFECYCLE=trace
SENTRY_SEND_DEFAULT_PII=false